<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        
        <h1>Sign-In</h1><div class="c"><a href="{{url_for('register_pro')}}">Register for Professionals</a></div>
        <form action="/" method="POST" id="login">
            <br>
            <div>
                <label>Registered Email-ID:</label>
                <input type="text" name="email" required />
            </div>
            <br>
            <div>
                <label>Password:</label>
                <input type="password" name="password" required />
            </div>
            <br>
            <button>Login</button>

            <div>
                <br>
                <a href="{{url_for('register_cus')}}">Create Account?</a>
            </div>
        </form>
    </div>
</body>
</html>