<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional_Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <span style="font-size:30px; margin-right:200px"> WELCOME TO PROFESSIONAL</span>
        <a href="professional_dashboard.html" style="margin-right:5px;margin-left:5px">Home</a>|    
        <a href="professional_search.html" style="margin-right:5px;margin-left:5px">Search</a> |  
        <a href="professional_summary" style="margin-right:5px;margin-left:5px">Summary</a>|
        <a href="{{url_for('home')}}" style="margin-right:5px;margin-left:5px">Logout</a>
        
    </div>
    <br>
    <br>
    <div class="a">
        <a href="Profile">Profile</a>
    </div>
    <div>
        <table id = "Today services">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Contact Phone</th>
                <th>Location(with pin code)</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
              {% for n in service %}
                  <tr>
                      <td>{{loop.index}}</td>
                      <td><a href='/professionals/service/{{n["ID"]}}'>{{n["ID"]}}</a></td>
                      <td>{{n["Customer_Name"]}}</td>
                      <td>{{n["Contact"]}}</td>
                      <td>{{n["Location"]}}</td>
                      <td>
                        <a href='/professional/service/{{n["ID"]}}/approve' type="button">Approve</a>/
                        <a href='/professional/service/{{n["ID"]}}/reject' type="button">Reject</a>
                        
                      </td>
                  </tr>
              {% endfor %}
            </tbody>
        </table>	
    </div>
    <br><br>
    <div>
        <table id = "Closed Services">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Contact Phone</th>
                <th>Location(with pin code)</th>
                <th>Date</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
              {% for n in service_requests %}
                  <tr>
                      <td>{{loop.index}}</td>
                      <td><a href='professionals/closed_services/{{n["ID"]}}'>{{n["ID"]}}</a></td>
                      <td>{{n["Customer Name"]}}</td>
                      <td>{{n["Contact"]}}</td>
                      <td>{{n["Location"]}}</td>
                      <td>{{n["closed_date"]}}</td>
                      <td>{{n["Rating"]}}</td>
                  </tr>
              {% endfor %}
            </tbody>
        </table>	
    </div>
</body>
</html>