<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service</title>
</head>
<body>
    <h1>Add a Service</h1>
	<form action="/service/create" method="POST" id="create-service-form">
		<div>
			<label>Service Name:</label>
			<input type="text" name="s_name" required/>
		</div><br><br>
		<div>
			<label>Description:</label>
			<input type="text" name="s_desc" />
		</div><br><br>
		<div>
			<label>Time:</label>
			<input type="text" name="s_time" required />
		</div><br><br>
		<div>
			<label>Base Price:</label>
			<input type="text" name="b_price" required/>
		</div><br><br>
		<div>
			<input type="submit" value = "Submit" >
		</div>
	</form>
</body>
</html>