<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-service</title>
</head>
<body>
    <div>
        <span style="font-size:30px; margin-right:200px"> WELCOME to CUSTOMER</span>
        <a href="{{url_for('customer_dash',user_id=user_id)}}" style="margin-right:5px;margin-left:5px">Home</a>|    
        <a href="customer_search" style="margin-right:5px;margin-left:5px">Search</a> |  
        <a href="customer_summary" style="margin-right:5px;margin-left:5px">Summary</a>|
        <a href="{{url_for('home')}}" style="margin-right:5px;margin-left:5px">Logout</a>
        
    </div>
    <br>
    <br>
    <div class="a">
        <a href="{{url_for('customer_profile',user_id=user_id)}}">Profile</a>
    </div>
    <div>
        <h4>BEST {{service.service_name}} SERVICES</h4>
        <table id="Best-services" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Base Price</th>
                    <th>Rating</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if best_services %}
                    <tr>
                        <td>1</td>
                        <td>{{best_services.service.service_price}}</td>
                        <td>rating</td>
                        <td><a href="{{ url_for('book_services',service_id=best_services.service.service_id,user_id=user_id)}}">Book</a></td>
                    </tr>
                {% else %}
                <p>No approved professionals available.</p>
                {% endif %}
            </tbody>
        </table>

        <h4>SERVICE HISTORY</h4>
        <table id = "services_history" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Professional name</th>
                    <th>Contact No</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for n in service_requests %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{n.service.service_name}}</td> 
                        <td>{{n.professional.pr_fullname}}</td> 
                        <td>{{n.professional.pr_contact_no}}</td>
                        <td>
                            {% if n["service_status"]=='accepted' %}
                                <a href='/service_requests/{{n["customer_id"]}}/{{n["professional_id"]}}/close'>close it?</a>
                            {% else %}
                               {{n["service_status"]}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>	
    </div>
</body>
</html>