<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffesional Search</title>
</head>
<body>
    <div>
        <span style="font-size:30px; margin-right:200px"> WELCOME to PROFESSIONAL</span>
        <a href="{{url_for('professional_dash',pr_id=pr_id)}}" style="margin-right:5px;margin-left:5px">Home</a>|    
        <a href="{{url_for('professional_search',pr_id=pr_id)}}" style="margin-right:5px;margin-left:5px">Search</a> |  
        <a href="professional_summary" style="margin-right:5px;margin-left:5px">Summary</a>|
        <a href="{{url_for('home')}}" style="margin-right:5px;margin-left:5px">Logout</a>
        
    </div>
    <br>
    <br>
    <div class="a">
        <a href="{{url_for('professional_profile',pr_id=pr_id)}}">Profile</a>
    </div>
    <br>
    <div class="search">
        <h4>Search Functionality:</h4>
        <form method="POST" action="/professional/search/{{pr_id}}">
            <select name="Search_by">
                <option value="">Select the option</option>
                <option value="date">Date(YYYY-MM-DD)</option>
                <option value="location">Location</option>
                <option value="pincode">Pin Code</option>
            </select>
            <input name="text" placeholder="search text" />
            <button>Search</button>

        </form>

    </div>
</body>
</html>
